<div class="notes fill">
    <a href="/work?num={{num}}">
        <article class="note-textarea" placeholder="">
            <h5 class="note-title">
                <strong>{{this.dataValues.title}} - Click to Edit</strong>
            </h5>
            
            <strong>{{this.dataValues.article}}</strong>
            </br>
            <a id="savedURL" href="{{this.dataValues.url}}">Link to Article Wesbite</a>
            </br>
            <a id="savedURL">Delete this Note</a>
        </article>
    </a>
</div>