<div class="notes fill">
    <p class="note-title" style="padding-left: 60px;"><strong>
            {{this.dataValues.title}}
        </strong>
    </p>
    <br>
    <article class="note-textarea"  placeholder="">
        {{this.dataValues.body}}
    </article>

</div>