<div class="notes">
    <p class="note-title"><strong>
            {{this.dataValues.title}}
        </strong>
    </p>
    <article class="note-textarea" placeholder="">
        {{this.dataValues.body}}
    </article>

</div>