<div id="typeNotes">
    This is the notes section div. It will take up the other half of the page. Might be easier to use internal CSS in
    the header section of the html file.
    <h3>Title</h3>
    <textarea name="title" id="noteTitle" cols="100" rows="2">
        {{this.dataValues.title}}
    </textarea>
    <h3>Body</h3>
    <textarea name="body" id="noteBody" cols="100" rows="10">
        {{this.dataValues.body}}
    </textarea>
    <button id="save" type="submit">Save</button>
</div>