<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Main</title>
		{{!-- <link rel="stylesheet" href="css/style.css"> --}}
		<link rel="stylesheet" href="css/headerFont.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
	</head>
	<body>
		<button id="search">
        	Search
		</button>
		<button id="work">
			Work
		</button>
		<button id="notes">
			Notes
		</button>
		<button id="about">
			About
		</button>
		{{{ body }}}
		<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="js/main.js"></script>
	</body>
</html>