<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Main</title>
		<link rel="stylesheet" href="./css/style.css">
		<link rel="stylesheet" href="./css/headerFont.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
	</head>

	<body>
		<nav>
			<div class="nav-wrapper">
				<a href="landing.html" class="brand-logo">Notepad ++</a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a href="/notes">Notes</a></li>
					<li><a href="/work">Work</a></li>
					<li><a href="/search">Search</a></li>
					<li><a href="about.html">Developer info</a></li>
          		</ul>
        	</div>
      	</nav>

		<div id="title" class="cssans cssans--center">
			<div class="cssans__accessible">CSSans Pro</div>

			<div class="cssans__word">
				<b class="cssans:N"></b>
				<b class="cssans:o"></b>
				<b class="cssans:t"></b>
				<b class="cssans:e"></b>
				<b class="cssans:p"></b>
				<b class="cssans:a"></b>
				<b class="cssans:d"></b>
				<b class="cssans: "></b>
				<b class="cssans:+"></b>
				<b class="cssans:+"></b>
			</div>
    	</div>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="js/main.js"></script>

		{{{ body }}}

	</body>
</html>