<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Main</title>
	<link rel="stylesheet" href="./css/style.css">
	<link rel="stylesheet" href="./css/headerFont.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
	<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://unpkg.com/swup@latest/dist/swup.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
	<nav>
		<div class="nav-wrapper">
			<a href="" class="brand-logo">
				<img class="logo" src="\images\logo-P2.png" alt=""></a>
			<a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>

			<ul class="right hide-on-med-and-down">
				<li><a class="member-name"></a></li>
				<li><a href="/search">Search the News</a></li>
				<li><a href="/notes">Saved Notes</a></li>
				<li><a href="/about">Developer info</a></li>
				<li><a href="/logout">Logout</a></li>
			</ul>
		</div>
	</nav>

  <ul class="sidenav" id="mobile-demo">
	  <div class="sidenav-bg">
   		<li><a href="/notes">Notes</a></li>
		<li><a href="/work">Work</a></li>
		<li><a href="/search">Search</a></li>
		<li><a href="/about">Developer info</a></li>
		<li><a href="/logout">Logout</a></li>
		</div>
  </ul>
		
		{{{ body }}}
		
		<script>
		 $(document).ready(function(){
    	$('.sidenav').sidenav();
  		});
		</script>
		<script src="js/main.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	</body>
</html>