@import url('https://fonts.googleapis.com/css?family=Raleway:200');


.row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    
}
.note-article {
  height: 100px;
  width: 800px;
  background: rgb(238, 236, 236);
  
}
.row-notes {
  display: flex;
    flex-direction: column;
}
.notes {
       margin: 15px;
       width: 800px;
}
.note-title {
  display: flex;
  align-items: baseline;
  height: 20px;
  width: 160px;
}
.note-textarea {
  height: 50px;
  width: 100%;
}
.note
  {
       -moz-border-radius: 6px;
       -webkit-border-radius: 6px;
       background-color: #ffdddd;
       background-image: url(../Images/icons/Pencil-48.png);
       background-position: 9px 0px;
       background-repeat: no-repeat;
       border: solid 1px #3498db;
       border-radius: 6px;
       line-height: 18px;
       overflow: hidden;
       padding: 15px 60px;
  }
  

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}


.about {
  padding: 20px;
  --borderWidth: 3px;
  background: white;
  position: relative;
  border-radius: var(--borderWidth);
  margin-bottom: 40px;
}
.about:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(3 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 4s ease alternate infinite;
  background-size: 300% 300%;
}


@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

p {
  font-family: 'Montserrat';
}
.title {
  color: grey;
  font-size: 18px;
}
a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}
.notes {
  padding: 30px;
  --borderWidth: 3px;
  background: rgb(238, 236, 236);
  position: relative;
  border-radius: var(--borderWidth);
  animation: developers 2000ms ease-in;
}

@keyframes developers{

  0% {
      transform: translateX(200%);
  }
  /* 60% {
    transform: rotate3d(2, -1, -1, -0.3turn);
  } */
  /* 90% {
    transform: rotate(-40deg);
  } */
  100% {
      transform: translateX(0);
  }
}
.notes:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, black, gray, rgb(46, 41, 41), lightblue);
  border-radius: calc(3 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 4s ease alternate infinite;
  background-size: 300% 300%;
}

.nav-wrapper {
  position: fixed;
  height: 70px;
  width: 100%;
  background-color: coral;
}
.about-us {
  color: white;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  padding: 0px 15px;
  cursor: pointer;
  display: flex;
  align-content: center;
  justify-content: flex-end;
  background-color: white, 0.7;
}
img {
  border-radius: 50%;
}
.box {
  height: 300px;
  width: 300px;
  background-color: tomato;
  animation: box 20000ms ease-in;
}
@keyframes box {
  0% {
    transform: translateX(200%);
}
60% {
  transform: rotate3d(2, -1, -1, -0.2turn);
}
65% {
  transform: rotate3d(2, -1, -1, -0.3turn);
}
70% {
  transform: rotate3d(2, -1, -1, -0.4turn);
}
75% {
  transform: rotate3d(2, -1, -1, -0.5turn);
}
80% {
  transform: rotate3d(2, -1, -1, -0.6turn);
}
85% {
  transform: rotate3d(2, -1, -1, -0.6turn);
}
90% {
  transform: rotate3d(2, -1, -1, -0.7turn);
}
95% {
  transform: translateY(-200%);
}
96% {
  transform: translateX(-200%);
}
97% {
  transform: translateX(200%);
}
98% {
  transform: translateX(-200%);
}
99% {
  transform: scale(20);
}

100% {
    transform: rotate3d(2, -1, -1, -0.8turn);
}
}
