<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="css/about.css">

<div class="notes-about">
    <div class="row">
        <div class="col s4">
        </div>
        <div class="col s4">
            <h3 class="subHeader">About Us</h3>
        </div>
        <div class="col s4">
        </div>
    </div>
    <div class="row">
      <div class="col s1">
        </div>
        <div class="col s10">
            <p class="textP" style="font-size:1.4vw;">Notepad-- was created by Christopher, Gio, Chlose and Maverick. They all share a passion for web development so they came together to 
          make Notepad--. The project introduced several new challenges to the team, such as Sequelize and Passport authentication. 
        </p>
        </div>
        <div class="col s1">
        </div>
    </div>
</div>
    <div class="container">
      <div class="row">
        <div class="card col s12 m3 l3">
           <div class="info">
            <img src="/images/circle-cropped.png" alt="Gio" >
            <br>
            <div class="name">
                <h5>Gio Talabong</h5>
                <br>
                <p class="title">Full-Stack Developer</p>
                <p>Rice University</p>
                <a href="https://www.linkedin.com/in/gio-talabong-79086b103/"><i class="fa fa-linkedin"></i></a>
                <a href="https://github.com/giotala"><i class="fa fa-github"></i></a>
                <p>
            </div> 
           </div>
        </div>
        
        <div class="card col s12 m3 l3">
          <div class="info">
            <img src="/images/Christopher.png" alt="Christopher" >
            <br>
            <div class="name">
              <h5>Christopher Cochran</h5> 
                <p class="title">Full-stack Developer</p>
                <p>Rice University</p>
                <a href="https://www.linkedin.com/in/christophercochran281/"><i class="fa fa-linkedin"></i></a>
                <a href="https://github.com/chrscchrn"><i class="fa fa-github"></i></a>
                <p>
            </div>
          </div>
          </div>
        <div class="card col s12 m3 l3">
           <div class="info">
            <img src="/images/Maverick.png" alt="Maverick" >
            <br>
            <div class="name">
             <h5>Maverick Acampado</h5>
            <p class="title">Full-stack Developer</p>
            <p>Rice University</p>
            <a href="https://www.linkedin.com/in/maverick-acampado-765a171a8/"><i class="fa fa-linkedin"></i></a>
            <a href="https://github.com/mugen430"><i class="fa fa-github"></i></a>
            <p>
            </div>
          </div>
        </div>
        <div class="card col s12 m3 l3">
          <div class="info">
            <img src="/images/Chloe.png" alt="Chloe" >
            <div class="name">
              <br>
              <h5>Chloe Perkins</h5>
              <br>
            <p class="title">Full-stack Developer</p>
            <p>Rice University</p>
            <a href="https://www.linkedin.com/in/chloe-perkins-5245b6100/"><i class="fa fa-linkedin"></i></a>
            <a href="https://github.com/cnperkins"><i class="fa fa-github"></i></a>
            <p>
            </div>
          </div>
      </div>
    </div>
  </div>

