<h1>Notes</h1>
<!-- div with previously held notes go here -->
<div id="articles"></div>
<script type="text/javascript" src="/notes.js"></script>
<link rel="stylesheet" href="css/notes.css">
<link rel="stylesheet" href="css/headerFont.css">

<<<<<<< HEAD
    
      <div class="container">
       
        <div class="row1">
          {{!-- <div><article class="note-article" placeholder="Note article"></article></div> --}}
          
          <div class="row-notes">
            <div class="notes">
              <p><strong><article class="note-title" placeholder="Note Title" maxlength="28" type="text"></strong> 
                <article class="note-textarea" placeholder=""></article></p>
            </div>
            
            <div class="notes">
              <p><strong><article class="note-title" placeholder="Note Title" maxlength="28" type="text"></strong> 
                <article class="note-textarea" placeholder=""></article></p>
            </div>
            <div class="notes">
              <p><strong><article class="note-title" placeholder="Note Title" maxlength="28" type="text"></strong> 
                <article class="note-textarea" placeholder=""></article></p>
            </div>
          </div>
        </div>
      </div>
=======
>>>>>>> ebdc1a85795cd5a7b6e7008e10c9668f7d2557c7

<div class="container">
    <div class="row">
        <div class="row-notes">
            {{#each data}}
            {{> saved-notes}}
            {{/each}}
        </div>
    </div>
</div>

<script type="text/javascript" src="./js/notes.js"></script>
