<link rel="stylesheet" href="css/notes.css">
<<<<<<< HEAD
<link rel="stylesheet" href="css/headerFont.css">

    
      <div class="container">
       
        <div class="row">
          {{!-- <div><article class="note-article" placeholder="Note article"></article></div> --}}
          
          <div class="row-notes">
            <div class="notes">
              <p><strong><article class="note-title" placeholder="Note Title" maxlength="28" type="text"></strong> 
                <article class="note-textarea" placeholder=""></article></p>
            </div>
            
            <div class="notes">
              <p><strong><article class="note-title" placeholder="Note Title" maxlength="28" type="text"></strong> 
                <article class="note-textarea" placeholder=""></article></p>
            </div>
            <div class="notes">
              <p><strong><article class="note-title" placeholder="Note Title" maxlength="28" type="text"></strong> 
                <article class="note-textarea" placeholder=""></article></p>
            </div>
          </div>
        </div>
      </div>
=======

<div class="container">
    <div class="row">
        <div class="row-notes">
            {{#each data}}
                {{> saved-notes}}
            {{/each}}
        </div>
    </div>
</div>
>>>>>>> 4a47b7417d8534a2ebcd9e3f88a5f6b6b65eea4d

<script type="text/javascript" src="./js/notes.js"></script>