<link rel="stylesheet" href="css/notes.css">
<link rel="stylesheet" href="css/headerFont.css">

<nav>
  <div class="nav-wrapper">
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li  ><a class="about-us" href="Gio/about.html">About Us</a></li>
    </ul>
  </div>
</nav>
    <div class="about" >
    <h4 class="text" style="font-size: 2vw;">
      <h3>
      <div class="cssans__word">
        <b class="cssans:N"></b>
        <b class="cssans:O"></b>
        <b class="cssans:T"></b>
        <b class="cssans:E"></b>
    </div>
    <div class="cssans__word">
      <b class="cssans:P"></b>
      <b class="cssans:A"></b>  
      <b class="cssans:D"></b>
      <b class="cssans:+"></b>
      <b class="cssans:+"></b>
  </div>
</h3>
</div>
</h4>
      <div class="container">
       
        <div class="row">
          {{!-- <div><article class="note-article" placeholder="Note article"></article></div> --}}
          
          <div class="row-notes">
            <div class="notes">
              <p><strong><article class="note-title" placeholder="Note Title" maxlength="28" type="text"></strong> 
                <article class="note-textarea" placeholder=""></article></p>
            </div>
            
            <div class="notes">
              <p><strong><article class="note-title" placeholder="Note Title" maxlength="28" type="text"></strong> 
                <article class="note-textarea" placeholder=""></article></p>
            </div>
            <div class="notes">
              <p><strong><article class="note-title" placeholder="Note Title" maxlength="28" type="text"></strong> 
                <article class="note-textarea" placeholder=""></article></p>
            </div>
          </div>
        </div>
      </div>

    </div>
   {{!-- <div><h6 class="cssans__word box">
        <b class="cssans:N"></b><br>
        <b class="cssans:o"></b><br>
        <b class="cssans:t"></b><br>
        <b class="cssans:e"></b><br>
        <b class="cssans:s"></b> 
        </h6> --}}
<!-- div with previously held notes go here -->
<div id="articles"></div>
<script type="text/javascript" src="./js/notes.js"></script>