<!-- have a drop down list of all the sources NEWS API provides -->
</br>
<button id="searchButton">
    Search the News
</button>

<div id="searchResults" class="row"></div>

<script type="text/javascript" src="./js/search.js"></script>