<!-- have a drop down list of all the sources NEWS API provides -->
<button id="searchButton">
    Search for Articles
</button>
<div id="results">results</div>

<script type="text/javascript" src="../../public/js/search.js"></script>