<!-- have a drop down list of all the sources NEWS API provides -->
</br>
</br>
</br>
<button id="searchButton">
    Search for Articles
</button>

<ul>
    {{#each data}}
        {{> article-search}}
    {{/each}}
</ul>

<script type="text/javascript" src="./js/search.js"></script>