<!-- have a drop down list of all the sources NEWS API provides -->
</br>
</br>
</br>
<button id="searchButton">
    Search for Articles
</button>

<<<<<<< HEAD
<script type="text/javascript" src="/search.js"></script>
=======
<script type="text/javascript" src="/js/search.js"></script>
>>>>>>> 83c6d6bdebb21dd72a581b4900eddbb9d0ef0061
