<!-- have a drop down list of all the sources NEWS API provides -->
</br>
</br>
</br>
<button id="searchButton">
    Search for Articles
</button>

<div>

    {{#each data}}

    {{> article-search}}

    {{/each}}

</div>

<script type="text/javascript" src="/js/search.js"></script>