<link rel="stylesheet" href="./css/work.css">

{{!-- <h1>
    This area will hold article content on one side and the notes input on the other
</h1>
<div id="readArticle"></div>
This is the div that will have the object which holds the article. This one goes on the left and takes up pretty much
half the page
</div> --}}
<main class="main">
<article class="work-article"> 
    Articles
</article>
<aside class="work-notes">
    
    <textarea name="text" id="ca" cols="30" rows="10"></textarea>
    
</aside>
</main>
{{!-- <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button> --}}


<div>

    {{#each data}}

    {{> work-notes}}

    {{/each}}

</div>


<script src="./js/work.js"></script>