<h1>
    This area will hold article content on one side and the notes input on the other
</h1>
<div id="readArticle"></div>
This is the div that will have the object which holds the article. This one goes on the left and takes up pretty much
half the page
</div>

<div>

    {{#each data}}

    {{> work-notes}}

    {{/each}}

</div>

<script src="/work.js" ></script>

<script src="./js/work.js" ></script>


<script src="./js/work.js"></script>