<link rel="stylesheet" href="./css/work.css">

<div class="row">
    <div class="col s3">
    </div>
    <div class="col s6">
        <h3 class="subHeader">Take Notes</h3>
    </div>
    <div class="col s3">
    </div>
</div>

<main class="main">
    <div class="row">
        <div class="col s1"></div>
        <div class="col s5">
            <article id="work-article">
                <h4 id="loadTitle"></h4>
                <h6 id="loadPublisher"></h6>
                <h6 id="loadDate"></h6>
                <h6 id="loadAuthor"></h6>
                <article id="loadContent"></article>
                <a id="loadURL">Link to Website</a>
            </article>
        </div>

        <div class="col s5">
            <aside id="work-notes">
                <h4>Title</h4>
                <textarea name="title" id="noteTitle" cols="30" rows="10"></textarea>
                <h4>Note</h4>
                <textarea name="text" id="noteBody" cols="30" rows="600"></textarea>
                <button id="save">
                    Save
                </button>
                <button id="delete">
                    Delete
                </button>    
            </aside>
        </div>
        <div class="col s1"></div>
    </div>
</main>



<script src="./js/work.js"></script>