@import url('https://fonts.googleapis.com/css?family=Raleway:200');
body {
  /* display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: white; */
  margin: 20px
}
.container {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    /* border: 5px double black; */
    justify-content: space-evenly;
    animation: developers 800ms ease-in;
    
}
.row {
    display: flex;
}
/* h3 {
    top: 2em;
    left: 2em;
    font-family: 'Montserrat';
  } */
.card {
  display: block;
  text-align: center;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20%;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
 
.card img {
    display: flex;
    vertical-align: middle;
    height: auto ;
    width: 100% ;
    object-fit: contain;
      
  }

@keyframes developers{

    0% {
        transform: translateY(200%);
    }
    100% {
        transform: translateY(0);
    }
}
.info {
    margin: 15px;
}

.text {
  display: flex;
  justify-content: baseline;
  font-family: 'Montserrat';
  margin-bottom: 20px;
}
.textP {
  padding-bottom: 20px;
}
.about {
  --borderWidth: 3px;
  background: white;
  position: relative;
  border-radius: var(--borderWidth);
}
.about:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(3 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 4s ease alternate infinite;
  background-size: 300% 300%;
}


@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

p {
  font-family: 'Montserrat';
}
.title {
  color: grey;
  font-size: 18px;
}
a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}