/* @import url('https://fonts.googleapis.com/css?family=Raleway:200'); */

html {
  font-family: "Montserrat", "Droid Sans", "Arial", "Helvetica Neue";
}

.row1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.notes:hover {
  background-color:#ffffff3d;
  border: solid #49508d 3px;
  border-radius: 10px;
  color: black;
}

.container {
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.title {
  color: grey;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 1.5vw;
  color: black;
}

#savedURL {
  font-size: 1vw;
  color: #5073b8;
}

/* .row {
  display: flex;
  flex-wrap: wrap;
  width: 200vmin;
} */
.row .notes {
  text-align: center;
  border-left: 6px solid #31376b;
  border-radius: 10px;
  background-color: #fff;
  box-sizing: border-box;
  display: flex;
  height: auto;
  justify-content: center;
  margin: 1vmin;
  padding: 3vmin;
  width: 100vmin;
}
.row .notes:nth-child(1) {
  background-color: rgba(243, 177, 55, 0.4);
}
.row .notes:nth-child(2) {
  background-color: rgba(54, 231, 47, 0.4);
}
.row .notes:nth-child(3) {
  background-color: rgba(228, 54, 205, 0.4);
}
.row .notes:nth-child(4) {
  background-color: rgba(39, 179, 248, 0.4);
}
/* fill styles */
.fill-layer {
  animation: fill 1s ease-in-out;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}
@keyframes fill {
  0% {
    border-radius: 50%;
    transform: translateY(150%) translateX(150%) scale(2);
 }
  100% {
    border-radius: 50%;
    transform: scale(2);
 }
}
