@import url('https://fonts.googleapis.com/css?family=Raleway:200');

.row1 {
    display: flex;
    flex-direction: row;
    
}

.fill {
  align-items:center;
  display:flex;
  font-family:sans-serif;
  height:100vh;
  justify-content:center;
  margin:0;
}
/* .notes {
      padding-left: 20px;
      color: black;
      margin: 15px;
      border: 1px black solid;
      border-left: 6px solid #31376b;
      border-radius: 10px;
      animation: developers 2000ms ease-in; 
} */
.note-title {
  position: relative;
  flex-grow: 1;
}
.note-textarea {
  position: relative;
  flex-grow: 1;
}
.container {
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}


@keyframes developers{

  0% {
      transform: translateY(40%);
  }
  100% {
      transform: translateX(0);
  }
}

.cssans__word {
  padding-top: 12px;
  padding-left: 10px;
  font-size: 1vh;
  position: fixed;
}

.row1 {
  display: flex;
  flex-wrap: wrap;
  width: 200vmin;
}
.row1 .notes {
  border-left: 6px solid #31376b;
  border-radius: 10px;
  background-color: #fff;
  box-sizing: border-box;
  display: flex;
  font-size: 4vmin;
  height: 20vmin;
  justify-content: center;
  margin: 1vmin;
  padding: 3vmin;
  width: 200vmin;
}
.row1 .notes:nth-child(1) {
  background-color: rgba(51, 10, 24, 0.5);
}
.row1 .notes:nth-child(2) {
  background-color: rgba(238, 238, 0, 0.5);
}
.row1 .notes:nth-child(3) {
  background-color: rgba(102, 204, 51, 0.5);
}
.row1 .notes:nth-child(4) {
  background-color: rgba(102, 204, 255, 0.5);
}
/* fill styles */
.fill-layer {
  animation: fill 1s ease-in-out;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}
@keyframes fill {
  0% {
    border-radius: 50%;
    transform: translateY(150%) translateX(150%) scale(2);
 }
  100% {
    border-radius: 50%;
    transform: scale(2);
 }
}