/* @import url('https://fonts.googleapis.com/css?family=Raleway:200'); */

html {
  font-family: "Avenir Next", "Droid Sans", "Arial", "Helvetica Neue";
}

.row1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.note-article {
  background: white;
}

/* .row-notes {
  display: flex;
  flex-direction: column;
} */

.notes:hover {
  background-color:#ffffff3d;
  border: solid rgba(255, 127, 80, 0.329) 3px;
  border-radius: 10px;
  color: black;
}



/* .note {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  background-color: white;
  background-image: url(../Images/icons/Pencil-48.png);
  background-position: 9px 0px;
  background-repeat: no-repeat;
  border: solid 1px #000000;
  border-radius: 6px;
  line-height: 18px;
  overflow: hidden;
  padding: 10px;
} */
  

.container {
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}


.about {
  --borderWidth: 3px;
  background: white;
  position: relative;
  border-radius: var(--borderWidth);
  margin-bottom: 40px;
}
.about:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad );
  border-radius: calc(3 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 4s ease alternate infinite;
  background-size: 300% 300%;
}


@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.title {
  color: grey;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

#savedURL {
  color: #5073b8;
}

.notes {
  margin-top: 20px;
  padding: 20px 60px;
  text-align: center;
  --borderWidth: 3px;
  background: rgb(255, 255, 249);
  position: relative;
  border-radius: 0px;
  z-index: 1;
  animation: developers 2000ms ease-in;
}

@keyframes developers{

  0% {
      transform: translateY(40%);
  }
  100% {
      transform: translateX(0);
  }
}

.cssans__word {
  padding-top: 12px;
  padding-left: 10px;
  font-size: 1vh;
  position: fixed;
}

.row1 {
  display: flex;
  flex-wrap: wrap;
  width: 200vmin;
}
.row1 .notes {
  border-left: 6px solid #31376b;
  border-radius: 10px;
  background-color: #fff;
  box-sizing: border-box;
  display: flex;
  font-size: 4vmin;
  height: 20vmin;
  justify-content: center;
  margin: 1vmin;
  padding: 3vmin;
  width: 200vmin;
}
.row1 .notes:nth-child(1) {
  background-color: rgba(51, 10, 24, 0.5);
}
.row1 .notes:nth-child(2) {
  background-color: rgba(238, 238, 0, 0.5);
}
.row1 .notes:nth-child(3) {
  background-color: rgba(102, 204, 51, 0.5);
}
.row1 .notes:nth-child(4) {
  background-color: rgba(102, 204, 255, 0.5);
}
/* fill styles */
.fill-layer {
  animation: fill 1s ease-in-out;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}
@keyframes fill {
  0% {
    border-radius: 50%;
    transform: translateY(150%) translateX(150%) scale(2);
 }
  100% {
    border-radius: 50%;
    transform: scale(2);
 }
}