.container {
    display: flex;
    flex-direction: row;
    /* border: 5px double black; */
    justify-content: center;
    animation: developers 800ms ease-in;
    
}
.row {
    display: flex;
    
}

.card {
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 15%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
 
img {
    display: flex;
    vertical-align: middle;
    height: auto ;
    width: 100% ;
    object-fit: contain;
      
  }

@keyframes developers{

    0% {
        transform: translateY(150%);
    }
    100% {
        transform: translateY(0);
    }
}
.info {
    margin: 15px;
}
/* html, body, div, form, fieldset, legend, label { margin: 0; padding: 0;  }
table { border-collapse: collapse; border-spacing: 0; }
th, td { text-align: left; vertical-align: top; }
h1, h2, h3, h4, h5, h6, th, td, caption { font-weight:normal; }
img { border: 0; } */

html {
    font-size: 16px;
    line-height: 1.5;
    background: #ffffff;
    font-family: "Avenir Next", "Droid Sans", "Arial", "Helvetica Neue";
    box-sizing: border-box;
}

body {
    align-content: center;
}

footer {
    grid-area: footer;
    align-self: end;
    margin: auto;
}

#title {
    font-size: 2rem;
    font-weight: 700;
    line-height: 0.8;
    align-self: center;
    text-align: center;
}

#intro {
    font-size: 2rem;
    line-height: 1.4;
    text-align: center;
    align-self: center;
}

#introDiv {
    grid-area: intro;
    width: 100%;
    height: 100%;
}

#content {
    grid-area: content;
    font-size: 1.5rem;
    line-height: 1.4;
    text-align: center;
    align-self: flex-start;
}

#readArticle {
    width: 50%;
    right: 50%
}

#typeNotes {
    width: 50%;
}

nav .nav-wrapper {
    position: relative;
    height: 100%;
    background-color: #72276d;
}

#navLogo {
    font-size: 1rem;
}
