body {
    display: flex;
    flex-direction: column;
    min-height: 90vh;
}

.main {
    margin: 30px;
    flex-grow: 1;
    display: flex;
    margin-top: 1rem;
}

.work-article {
    flex-grow: 2;
    margin-right: 1rem;
    border: 3px solid black;
    overflow-y: auto;
}

.work-notes {
    flex-grow: 2;
    flex-shrink: 0;
    flex-basis: 10rem;
    border: 3px solid black;
}

/* .main {
    --borderWidth: 3px;
    background: white;
    position: relative;
    border-radius: var(--borderWidth);
  }
  .main:after{
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #F79533, #F37055, #EF4E7B);
    border-radius: calc(3 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 4s ease alternate infinite;
    background-size: 300% 300%;
  }
  @keyframes animatedgradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  } */