<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="about.css">
<link rel="stylesheet" href="sans.css">


<div class="about" >
    <h3 class="text" style="font-size:5vw;">
      <h1><div class="cssans__word">
      <b class="cssans:T"></b>
      <b class="cssans:H"></b>
      <b class="cssans:E"></b>
      </div>
      <div class="cssans__word">
        <b class="cssans:H"></b>
        <b class="cssans:A"></b>
        <b class="cssans:R"></b>
        <b class="cssans:D"></b>
    </div>
    <div class="cssans__word">
      <b class="cssans:T"></b>
      <b class="cssans:I"></b>
      <b class="cssans:M"></b>
      <b class="cssans:E"></b>
      <b class="cssans:S"></b>
  </div>
    </h1></h3>
    <hr>
        <div class="text" style="font-size:2vw;">About Us</div>
        <p class="textP" style="font-size:1.5vw;">The all-in-one resource organizer for students and researchers. Here the user can take look up articles and take notes on them while being able to save it all in one place. No more copying down URLs, just bookmark the page and the notes will be saved with them.</p>
    </div>
    <div class="container">
        <div class="card">
           <div class="info">
            <img class="devIMG" src="/Gio/images/circle-cropped.png" alt="Gio" >
            <br>
            <div class="name">
              <h6><b><div class="cssans__word">
                <b class="cssans:G"></b>
                <b class="cssans:I"></b>
                <b class="cssans:O"></b>
            </div></b></h6>
                <br>
                <p class="title">Full-stack Developer <br>
                  Software Engineer</p>
                <p>Rice University</p>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-github"></i></a>
                <p>
            </div> 
           </div>
        </div>
        <div class="card">
            <img src="/Gio/images/grumpycat.jpg" alt="Gio" >
            <div class="name">
              <h6><b><div class="cssans__word">
                <b class="cssans:C"></b>
                <b class="cssans:H"></b>
                <b class="cssans:R"></b>
                <b class="cssans:I"></b>
                <b class="cssans:S"></b>
            </div></b></h6> 
                <p class="title">Full-stack Developer <br>
                  Software Engineer</p>
                <p>Rice University</p>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-github"></i></a>
                <p>
            </div>
          </div>
        <div class="card">
            <img src="/Gio/images/grumpycat.jpg" alt="Gio" >
            <div class="name">
              <h6><b><div class="cssans__word">
                <b class="cssans:M"></b>
                <b class="cssans:A"></b>
                <b class="cssans:V"></b>   
            </div></b></h6> 
            <p class="title">Full-stack Developer <br>
              Software Engineer</p>
            <p>Rice University</p>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-github"></i></a>
            <p>
            </div>
          </div>
        <div class="card">
            <img src="/Gio/images/grumpycat.jpg" alt="Gio" >
            <div class="name">
              <h6><b><div class="cssans__word">
                <b class="cssans:C"></b>
                <b class="cssans:H"></b>
                <b class="cssans:L"></b>
                <b class="cssans:O"></b>
                <b class="cssans:E"></b>
            </div></b></h6> 
            <p class="title">Full-stack Developer <br>
              Software Engineer</p>
            <p>Rice University</p>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-github"></i></a>
            <p>
            </div>
          </div>


